<!DOCTYPE html>
<html>
<head>
    <title>Goals</title>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<!-- JUMBOTRON -->
<div class="jumbotron">
  <div class="container">
    <!--<ul class="list-unstyled">
        <li class="dropdown" class="btn btn-default">
              <a href="#" class="dropdown-toggle" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Goal View <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Day</a></li>
                <li><a href="#">Week</a></li>
                <li><a href="#">Month</a></li>
                <li><a href="#">Year</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li></ul></li>
            </ul>-->
            <div class="form-group">
            <label>Goal View</label>
            <select class="form-control" name="end_date" id="goal_view">
              <option value="Daily">Day</option>
              <option value="Weekly">Week</option>
              <option value="Monthly">Month</option>
              <option value="Year">Year</option>
            </select>
          </div>
    <h1>Get These Goals Done Today!</h1>
    <p>(Check them off once they are done.)</p>
    <% for (var i = 0; i < goals.length; i++) { %>
    <% if (goals[i].category === "Daily") { %>
    <ul>
        <li><%= goals[i].goal_name %></li>
        <li><%= goals[i].description %></li>
        <li><%= goals[i].start_date %></li>
        <li><%= goals[i].end_date %></li>
        <li><%= goals[i].category %></li>
</ul>
<% } } %>
  </div>
</div>
<div class="container">

</div>


<div style="height:400px"></div>

<script>
function validateForm() {
    var user, pass, conf, text;
    var isTrue = false;

    // Get the value of the input field with id="numb"
    user = document.getElementById("username1").value;
    pass = document.getElementById("password1").value;
    conf = document.getElementById("confirm").value;

    // If user is Not a Number or less than one or greater than 10
    if (isNaN(user) || user < 0 || user > 13) {
        text = "Can't be greater then 13 and less then 0";
        isTrue = false;
    } else if ((let == 'Stamped Letter' || let == 'Metered Letter') && x > 3.5) {
      text = "can't be greater then 3.5 for Stamped and Metered";
      isTrue = false;
    } else {
        text = "Input OK";
        isTrue = true;
    }
    document.getElementById("demo").innerHTML = text;
    return isTrue;
}

function validate() {
    var user, pass, conf, text;
    var isTrue = true; //Change this later

    // Get the value of the input field with id="numb"
    /*user = document.getElementById("username").value;
    pass = document.getElementById("password").value;

    // If user is Not a Number or less than one or greater than 10
    if (isNaN(user) || user < 0 || user > 13) {
        text = "Can't be greater then 13 and less then 0";
        isTrue = false;
    } else if ((let == 'Stamped Letter' || let == 'Metered Letter') && x > 3.5) {
      text = "can't be greater then 3.5 for Stamped and Metered";
      isTrue = false;
    } else {
        text = "Input OK";
        isTrue = true;
    }
    document.getElementById("demo").innerHTML = text;
    return isTrue;*/
}

</script>


</body>
</html>
