<!DOCTYPE html>
<html>
<head>
    <title>Goals</title>
  <% include ../partials/header.ejs %>
  <style>
      #map {
        height: 100%;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>

</head>

<body>

  <% include ../partials/nav.ejs %>

<!-- JUMBOTRON -->
<div class="jumbotron">
  <div class="container">
      <div class="form-group">
      <label>Goal View</label>
      <select class="form-control" name="end_date" id="goal_view" onchange="changeView()">
        <option value="Daily">Day</option>
        <option value="Weekly">Week</option>
        <option value="Monthly">Month</option>
        <option value="Year">Year</option>
      </select>
    </div>
    <h1>Get These Goals Done Today!</h1>
    <p>(Check them off once they are done.)</p>
    <div id="vi">
    <% for (var i = 0; i < goals.length; i++) { %><% if (goals[i].category === "Daily") { %><h2><%= goals[i].goal_name %></h2><p><%= goals[i].description %></p><% } } %>
    </div>

  </div>
</div>

<div class="container" height="50%">

    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
      <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=apikeygoeshere&callback=initMap">
    </script>

</div>


<div style="height:400px"></div>

<script>

function changeView() {
  var view = document.getElementById("goal_view").value;
  if (view === "Daily") {
    document.getElementById("vi").innerHTML = "<% for (var i = 0; i < goals.length; i++) { %><% if (goals[i].category === "Daily") { %><h2><%= goals[i].goal_name %></h2><p><%= goals[i].description %></p><% } } %>";
  } else if (view === "Weekly") {
    document.getElementById("vi").innerHTML = "<% for (var i = 0; i < goals.length; i++) { %><% if (goals[i].category === "Weekly") { %><h2><%= goals[i].goal_name %></h2><p><%= goals[i].description %></p><% } } %>";
  } else if (view === "Monthly") {
    document.getElementById("vi").innerHTML = "<% for (var i = 0; i < goals.length; i++) { %><% if (goals[i].category === "Monthly") { %><h2><%= goals[i].goal_name %></h2><p><%= goals[i].description %></p><% } } %>";
  } else if (view === "Year") {
    document.getElementById("vi").innerHTML = "<% for (var i = 0; i < goals.length; i++) { %><% if (goals[i].category === "Year") { %><h2><%= goals[i].goal_name %></h2><p><%= goals[i].description %></p><% } } %>";
  }
}

</script>


</body>
</html>
